@import "tailwindcss";

:root {
  background-color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  line-height: 1.5;

  
  
}

@theme {
  --color-primary: #171717;
  --color-secondary: #1C1C1C;
  --color-accent: #EA553B;
  --color-text: #F5F5F5;
  --color-subtext: #858585;
  --color-startG: #FC7C7C;
  --color-endG: #E69C52;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

body{
    @apply flex justify-center bg-primary
}

.pageWrapper{
    @apply p-5 pb-20 md:pb-0 w-[100dvw] max-w-[760px] h-[calc(100dvh-5.50rem)]  relative
}

button{
    @apply bg-accent/80 px-7 py-1 w-fit rounded-[5px] cursor-pointer hover:bg-accent active:bg-accent/50
}

input{
    @apply flex items-center bg-primary text-[12px] border-1 border-accent px-2 py-1 rounded-[3px] w-full text-subtext
}

.bg-gradient{
    @apply bg-gradient-to-b from-[var(--color-startG)]/90 from-[32%] to-[var(--color-endG)] opacity-20
}